#exemploDeVideo, #jogo, #escolha, #pontuacao{
	width:800px;
	height:600px;
	z-index: 1;
}

#interatividade.nivel1 { background:#ABB3FF; }
#interatividade.nivel1 #jogo .nivel2 { display:none; }

#interatividade.nivel2 { background:#d495d9; }
#interatividade.nivel2 #jogo .nivel2 { display:none; }

#interatividade.pontuacao { background:#87F1FF; }

#interatividade.nivel1 #jogo .carta-entrada { 
	background: url('img/carta-nivel-1.png') no-repeat left top;
}
#interatividade.nivel2 #jogo .carta-entrada { 
	background: url('img/carta-nivel-2.png') no-repeat left top;
}

#jogo .credito { width:300px; top:220px; right:-11%; }
#jogo .credito small { display:none; }

#jogo .carta-entrada { 
	display    :block; 
	position   :absolute;
	top        :180px;
	left       :250px;
	width      :301px;
	height     :212px;
	font       :60px/220px "ClaireHandBold", Arial;
	color      :#ffffff;
	text-align :center;
}

#jogo .btn-jogar { 
	display         :block; 
	position        :absolute;
	bottom          :70px;
	left            :330px;
	width           :146px;
	height          :77px;
	font            :25px/77px "ClaireHandRegular", Arial;
	color           :#000000;
	text-align      :center;
	text-decoration :none;
	background      :url('img/btn-quadrado.png') no-repeat left top;
}

#jogo .btn-mostrar { 
	display     :block; 
	position    :absolute;
	bottom      :40px;
	left        :330px;
	width       :143px;
	height      :141px;
	font        :0/0 none;
	color       :transparent;
	text-indent :-9999px;
	overflow    :hidden;
	background  :url('img/btn-redondo.png') no-repeat left top;
	display:none;
}

#jogo .carta-wrapper { display:none; width:233px; height:160px; overflow: hidden; position:absolute; }
#jogo .carta-vermelha { top: 50px; left: 50%; margin-left :-111px; }
#jogo .carta-vermelha .tras { background: url('img/carta-vermelha-tras.png') no-repeat left top; }
#jogo .carta-vermelha .frente { background: url('img/carta-vermelha-frente.png') no-repeat left top; }

#jogo .carta-verde { top:220px; }
#jogo .carta-verde.carta1 { left:50px; }
#jogo .carta-verde.carta2 { right:50px; }
#jogo .carta-verde { cursor:pointer; }
#jogo .carta-verde .tras { background: url('img/carta-verde-tras.png') no-repeat left top; }
#jogo .carta-verde .frente { background: url('img/carta-verde-frente.png') no-repeat left top; }
#jogo .carta-verde.ativa .frente { background: url('img/carta-verde-clique.png') no-repeat left top; }

#jogo .carta-wrapper .carta,
#jogo .carta-wrapper .tras, 
#jogo .carta-wrapper .frente { width: 100%; height: 100%; position: absolute; }
#jogo .carta-wrapper .tras { z-index:3; }
#jogo .carta-wrapper .frente { z-index:2; text-align:center; font: 100px/175px 'babioleregular'; color:#ffffff; }

#jogo .placar { display:none; position:absolute; height:90px; width:200px; top:10px; right:10px; background: url('img/placar.png') no-repeat left center; }
#jogo .placar .pontos { position:absolute; font-family: 'ClaireHandRegular' Arial; font-size:20px; left:17px; top:33px; }
#jogo .placar .relogio { position:absolute; top:0; right:0; width:80px; height:90px; text-align:center; background:url('img/relogio.png') no-repeat center center; font: 36px/105px 'babioleregular', Arial; }
#jogo .placar .relogio.alerta { background-image:url('img/relogio-v.png'); }

#jogo .mao-certo { display:none; position:absolute; left:-30px; top:380px; width:237px; height:197px; background:url('img/mao-certo.png') no-repeat left top; }
#jogo .mao-certo.outro-lado { left:auto; right:-30px; transform: scaleX(-1); }
#jogo .mao-errado { display:none; position:absolute; right:-30px; top:400px; width:237px; height:197px; background:url('img/mao-errado.png') no-repeat left top; transform:scaleX(-1); }
#jogo .mao-errado.outro-lado { left:-30px; right:auto; transform:scaleX(1); }

#escolha .opcao { display:block; position:absolute; left:50%; margin-left:-155px; width:312px; height:145px; }
#escolha .opcao .numero { position:absolute; left:50%; margin-left:-50px; width:99px; height:45px; z-index:1; color:#000; text-align:center; font-family: 'ClaireHandRegular', Arial; font-size:22px; line-height:46px; background: url('img/placa-qtde.png') no-repeat center center; }
#escolha .opcao .btn { display:block; position:absolute; margin-left:-155px; left:50%; top:40px; width:310px; height:105px; z-index:2; color:#000; text-align:center; font: 22px/105px 'ClaireHandRegular', Arial; background: url('img/btn-grande.png') no-repeat left top; text-decoration:none; }
#escolha .opcao .btn.duas-linhas { padding:22px 10px 0; line-height:30px; }
#escolha .opcao.disable .numero { background-image:url('img/placa-qtde-dnb.png'); }
#escolha .opcao.disable .btn { background-image:url('img/btn-grande-dnb.png'); }

#escolha .nivel1 { top:36px; }
#escolha .nivel2 { top:236px; }
#escolha .encerrar { top:406px; }

#escolha .placa-continuar { display:none; position:absolute; top:50%; left:50%; width:490px; height:260px; margin: -130px 0 0 -245px; background:url('img/placa.png') no-repeat center center; }
#escolha .placa-continuar p { font: 25px/32px 'ClaireHandRegular' Arial; margin:50px 50px; text-align:center; }
#escolha .placa-continuar .btn { position:absolute; text-decoration:none; color:#000; font: 36px/50px 'ClaireHandBold' Arial; }
#escolha .placa-continuar .btn-sim { top:170px; left:300px; }
#escolha .placa-continuar .btn-nao { top:170px; left:130px; }

#pontuacao .estrelas { position:absolute; top:50px; left:50%; width:280px; margin-left:-140px; height:80px; }
#pontuacao .estrelas .estrela { position:absolute; display:block; top:0; width:80px; height:72px; background-repeat:no-repeat; background-position:0 0; background-image:url('img/estrela-vazia.png'); }
#pontuacao .estrelas .estrela span { display:block; width:80px; height:72px; background-repeat:no-repeat; background-position:0 0; }

#pontuacao .estrelas .estrela .cheia { background-image:url('img/estrela-cheia.png'); }
#pontuacao .estrelas .estrela .meia { background-image:url('img/estrela-meio.png'); }
#pontuacao .estrelas .estrela .vazia { background-image:url('img/estrela-vazia.png'); }

#pontuacao .estrelas .estrela.estrela-1 { left:0; }
#pontuacao .estrelas .estrela.estrela-2 { left:50%; margin-left:-35px; }
#pontuacao .estrelas .estrela.estrela-3 { right:0; }

#pontuacao .placa { position:absolute; top:160px; left:50%; width:490px; height:260px; margin: 0 0 0 -245px; background:url('img/placa.png') no-repeat center center; }
#pontuacao .placa h3 { font: bold 35px 'ClaireHandBold' Arial; text-align:center; margin:28px 0 10px; }
#pontuacao .placa p { font: 30px 'ClaireHandRegular' Arial; padding:0 50px; margin-bottom:10px; }
#pontuacao .placa p .direita { float:right; }
#pontuacao .placa p.divisao { padding:0 30px; line-height:0; margin-bottom:10px; }
#pontuacao .placa img { text-align:center; margin:0 auto; }

#pontuacao .btn-reiniciar { 
	display         :block; 
	position        :absolute;
	bottom          :70px;
	left            :330px;
	width           :146px;
	height          :77px;
	font            :25px/77px "ClaireHandRegular", Arial;
	color           :#000000;
	text-align      :center;
	text-decoration :none;
	background      :url('img/btn-quadrado.png') no-repeat left top;
}

#interface {
	z-index: 1000;
}
















