@font-face {
    font-family: 'babioleregular';
    src: url('fonts/BABIRG__-webfont.eot');
    src: url('fonts/BABIRG__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BABIRG__-webfont.woff') format('woff'),
         url('fonts/BABIRG__-webfont.ttf') format('truetype'),
         url('fonts/BABIRG__-webfont.svg#babioleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClaireHandBold';
    src: url('fonts/ClaireHand-Bold.eot');
    src: url('fonts/ClaireHand-Bold.eot') format('embedded-opentype'),
         url('fonts/ClaireHand-Bold.svg#ClaireHandBold') format('svg'),
         url('fonts/ClaireHand-Bold.woff') format('woff'),
         url('fonts/ClaireHand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ClaireHandRegular';
    src: url('fonts/ClaireHand-Regular.eot');
    src: url('fonts/ClaireHand-Regular.eot') format('embedded-opentype'),
         url('fonts/ClaireHand-Regular.svg#ClaireHandRegular') format('svg'),
         url('fonts/ClaireHand-Regular.woff') format('woff'),
         url('fonts/ClaireHand-Regular.ttf') format('truetype');
}

/*@font-face {
    font-family: 'BIO_HAND_CRE';
    src: url('fonts/BIO_HAND_CRE.eot');
    src: url('fonts/BIO_HAND_CRE.eot') format('embedded-opentype'),
         url('fonts/BIO_HAND_CRE.svg#BIO_HAND_CRE') format('svg'),
         url('fonts/BIO_HAND_CRE.ttf') format('truetype'),
         url('fonts/BIO_HAND_CRE.woff') format('woff');
}
*/